<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<div class="container table-responsive py-5 center-all">
  <div>

     <% if @intelligem.link_type === "product" %>
      <%= image_tag 'maz.gif' %>
      <p>Web page redirects after 5 seconds.</p>
      <script>
          setTimeout(function(){
            window.location = '<%= @intelligem.link%>'}, 5000)
      </script>
    <% elsif @intelligem.link_type == 'social' %>
        <%= image_tag 'acs.png', class:"w-50 d-block mx-auto img-fluid" %>
        <h4 class="text-white text-center mt-4">Connect With Us!</h4>
        <br>

        <a href="mailto:mirabelledeco@gmail.com" class="links">Email <i class="fas fa-envelope"></i> </a>
        <a href="https://www.facebook.com/mirabelledecoupage" class="links" target="_blank">Facebook <i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/mirabelledecoupage" class="links" target="_blank">Instagram <i class="fab fa-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+60193313382&text=Hello!" class="links" target="_blank">Whatsapp <i class="fab fa-whatsapp"></i></a>
        <a href="https://www.lazada.com.my/shop/artsy-craftsy-store/" class="links" target="_blank">Lazada <i class="fas fa-shopping-cart"></i></a>
        <a href="https://shopee.com.my/astro630909?categoryId=100638&itemId=3560859923" class="links" target="_blank">Shopee <i class="fas fa-shopping-bag"></i></a>
    <% else %>
      <h3 class="text-center text-white">Thank you for purchasing</h3>
      <h5 class="text-center text-white">Enjoy these discounts on your <br> next purchase</h5>
      <%= image_tag 'promo.png', class:'img-fluid' %>
    <% end%>
    <br><br>
        <h5 class="text-center text-white">Powered By</h5>
        <%= image_tag 'ig-logo-w.png', class:"ig-white" %>


  </div>
</div>


<style>
  .ig-white {
    width: 150px;
    display: block;
    margin: 0 auto;
  }

  .acs {
    width: 400px;
  }
</style>
